/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

@font-face {
    font-family: 'Futura-Medium';
    /*
    src: url('../fonts/futura.eot');
    src: url('../fonts/futura.eot?#iefix') format('embedded-opentype'),
    url('../fonts/futura.woff') format('woff'),
    url('../fonts/futura.ttf') format('truetype'),
    url('../fonts/futura.svg#futura') format('svg');
    */

    src: url('http://neokobe.com/fonts/futura.eot');
    src: url('http://neokobe.com/fonts/futura.eot?#iefix') format('embedded-opentype'),
    url('http://neokobe.com/fonts/futura.woff') format('woff'),
    url('http://neokobe.com/fonts/futura.ttf') format('truetype'),
    url('http://neokobe.com/fonts/futura.svg#futura') format('svg');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hei';
    /*
    src: url('../fonts/Hei.ttf');
    src: local('Hei'), url('../fonts/Hei.ttf') format('truetype');
    */

    src: url('http://neokobe.com/fonts/Hei.ttf');
    src: local('Hei'), url('http://neokobe.com/fonts/Hei.ttf') format('truetype');
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: Futura-Medium, Hei, "Helvetica Neue", "Helvetica Nue", "Helvetica";
    margin: 0;
    padding: 0;


    /*
    rgb(186,195,255) == #bac3ff
    rgb(250,250,250) == #fafafa
    rgb(97,158,250)  == #619efa
    */

    /*
    background-image: linear-gradient(bottom, rgb(186,195,255) 0%, rgb(250,250,250) 90%, rgb(97,158,250) 100%);
    background-image: -o-linear-gradient(bottom, rgb(186,195,255) 0%, rgb(250,250,250) 90%, rgb(97,158,250) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(186,195,255) 0%, rgb(250,250,250) 90%, rgb(97,158,250) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(186,195,255) 0%, rgb(250,250,250) 90%, rgb(97,158,250) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(186,195,255) 0%, rgb(250,250,250) 90%, rgb(97,158,250) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(186,195,255)),
        color-stop(0.9, rgb(250,250,250)),
        color-stop(1, rgb(97,158,250))
    );
    background-color: rgb(186,195,255);
    */

    background-repeat: no-repeat;

    background: #bac3ff; /* Old browsers */
    /* background gradient for cross-browser compatibility */
    background: -moz-linear-gradient(top, #bac3ff 0%, #fafafa 90%, #619efa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bac3ff), color-stop(90%, #fafafa), color-stop(100%, #619efa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bac3ff 0%, #fafafa 90%, #619efa 100%); /* Chrome10+,Safari5.1+ */
    background-image: -ms-linear-gradient(top, #bac3ff 0%, #fafafa 90%, #619efa 100%); /* IE10+ */
    background: -o-linear-gradient(top, #bac3ff 0%, #fafafa 90%, #619efa 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bac3ff', endColorstr='#619efa', GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #bac3ff 0%, #fafafa 90%, #619efa 100%); /* W3C */
    /* border radius for cross-compatibility */


    /*
    tricks for IE9+ background gradient images with rounded borders:
        ref: http://jjis.me/a/912
        ref: http://ie.microsoft.com/testdrive/graphics/svggradientbackgroundmaker/default.html

    background: transparent none; / * reset the background, just in case * /
    filter: ''; / * clear the filter since it's the reason for the border-radius missing * /
    / * SVG as background image (IE9/Chrome/Safari/Opera) * /
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNCQUMzRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMC41Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzYxOUVGQSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzk2OCkiIC8+Cjwvc3ZnPg==);
    */

}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,
#main {
    border: none;
    padding: 0;
    margin: 0;
}

a img {
    border: none;
}

div#login {
    margin: 0 auto;
    padding: 0;
    float: right;
    position: relative;
    top: 15%;
}

#login-form {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}

input.input-text,
#login-form input.input-text {
    border: 2px solid #747171;
    height: 1.5em;
    font-size: 1.6em;
    padding: 2px;
    color: #999999;
    padding: 1px 0.75em;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
    font-family: Futura-Medium, Hei, "Helvetica Neue", "Helvetica Nue", "Helvetica";
}

.input-text {
    font-color: #ccc;
    width: 150px;
    font-family: Futura-Medium, Hei, "Helvetica Neue", "Helvetica Nue", "Helvetica";
}

.input-textblock {
    font-family: Futura-Medium, Hei, "Helvetica Neue", "Helvetica Nue", "Helvetica";
    border: 2px solid #747171;
    font-size: 1.6em;
    color: #999999;
    margin: 5px;
    padding: 1px 0.75em;
    min-height: 200px;
    width: 95%;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
}

div.signup-text span {
    text-align: right;
    width: 50%;
    display: inline-block;
    float: left;
}

div.signup-text {
    padding-bottom: 1.5em;
}

div.signup-text input.btn-submit,
div.signup-text input.input-signup {
    float: right;
    min-width: 300px;
    width: 45%;
    font-size: 0.85em;
    vertical-align: text-bottom;
}

div.signup-text {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    vertical-align: text-bottom;
    margin-bottom: 10px;
}

.btn-submit {
    border: 2px solid #747171;
    text-shadow: 0 2px 3px rgba(0,0,0,0.3);
    font-weight: bold;
    text-align: center;
    height: 1.5em;
    font-size: 1.6em;
    /*color: #564b4b;*/
    /*background: #d3d3d3;*/
    font-color: #564b4b;
    padding: 1px 0.75em;

/*
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(top, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
*/

    background: #d3d3d3; /* Old browsers */
    /* background gradient for cross-browser compatibility */
    background: -moz-linear-gradient(top, #d3d3d3 0%, #707070 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #707070), color-stop(100%, #707070)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d3d3d3 0%, #707070 100%); /* Chrome10+,Safari5.1+ */
    background-image: -ms-linear-gradient(top, #d3d3d3 0%, #707070 100%); /* IE10+ */
    background: -o-linear-gradient(top, #d3d3d3 0%, #707070 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#707070', GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #d3d3d3 0%, #707070 100%); /* W3C */
    /* border radius for cross-compatibility */
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;


    /*
    tricks for IE9+ background gradient images with rounded borders:
        ref: http://jjis.me/a/912
        ref: http://ie.microsoft.com/testdrive/graphics/svggradientbackgroundmaker/default.html
    */
    background: transparent none; /* reset the background, just in case */
    filter: ''; /* clear the filter since it's the reason for the border-radius missing */
    /* SVG as background image (IE9/Chrome/Safari/Opera) */
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4NTYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNEM0QzRDMiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM3MDcwNzAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4NTYpIiAvPgo8L3N2Zz4=);
}

.btn-submit:hover {
    /*color: #363030;*/
    font-color: #363030;

    border: 2px solid #363030;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%, #575757));
    background-image: -webkit-linear-gradient(top, #bababa, #575757);
    background-image: -moz-linear-gradient(top, #bababa, #575757);
    background-image: -ms-linear-gradient(top, #bababa, #575757);
    background-image: -o-linear-gradient(top, #bababa, #575757);
    background-image: linear-gradient(top, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

.hue-green {
    font-size: 1em;
    width: 175px;
    border: 2px solid #197b30;
    color: #005826;
    background-color: #7cc576;
    background-color: #197b30;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cc576), color-stop(100%, #197b30));
    background-image: -webkit-linear-gradient(top, #7cc576, #197b30);
    background-image: -moz-linear-gradient(top, #7cc576, #197b30);
    background-image: -ms-linear-gradient(top, #7cc576, #197b30);
    background-image: -o-linear-gradient(top, #7cc576, #197b30);
    background-image: linear-gradient(top, #7cc576, #197b30);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7cc576, endColorstr=#197b30);
}
.hue-green:hover {
    cursor: pointer;
    color: #003416;
    border: 2px solid #003416;
    background-color: #7cc576;
    background-color: #004d21;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009842), color-stop(100%, #004d21));
    background-image: -webkit-linear-gradient(top, #009842, #004d21);
    background-image: -moz-linear-gradient(top, #009842, #004d21);
    background-image: -ms-linear-gradient(top, #009842, #004d21);
    background-image: -o-linear-gradient(top, #009842, #004d21);
    background-image: linear-gradient(top, #009842, #004d21);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#009842, endColorstr=#004d21);
}

.hue-red {
    font-size: 1em;
    width: 175px;
    border: 2px solid #851c1c;
    color: #851c1c;
    background-color: #d53838;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f95050), color-stop(100%, #d53838));
    background-image: -webkit-linear-gradient(top, #f95050, #d53838);
    background-image: -moz-linear-gradient(top, #f95050, #d53838);
    background-image: -ms-linear-gradient(top, #f95050, #d53838);
    background-image: -o-linear-gradient(top, #f95050, #d53838);
    background-image: linear-gradient(top, #f95050, #d53838);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f95050, endColorstr=#d53838);
}

.hue-red:hover {
    cursor: pointer;
    color: #490f0f;
    border: 2px solid #490f0f;
    background-color: #b62f2f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f95050), color-stop(100%, #b62f2f));
    background-image: -webkit-linear-gradient(top, #f95050, #b62f2f);
    background-image: -moz-linear-gradient(top, #f95050, #b62f2f);
    background-image: -ms-linear-gradient(top, #f95050, #b62f2f);
    background-image: -o-linear-gradient(top, #f95050, #b62f2f);
    background-image: linear-gradient(top, #f95050, #b62f2f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f95050, endColorstr=#b62f2f);
}



.errortext {
    font-color: #ff0000;
    color: #ff0000;
    color: #9d1212;
    text-decoration: underline;
    font-weight: bold;
}

div.errors {
    border: 2px solid #ec3d44;
    border: 2px solid #9d1212;

    background-color: #f56368;
    color: #ff0000;
    color: #9d1212;

    margin: 15px;
    border-radius: 2em;
    padding: 5px;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
}

div.errors p {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 1em;
}

div.flashnotices {
    border: 2px solid #003416;

    background-color: #7cc576;
    color: #004d21;

    margin: 15px;
    border-radius: 2em;
    padding: 5px;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
}

div.flashnotices p {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 1em;
}

p.userlist {
    width: 100%;
    background-color: transparent;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #453772;
}

div.signup-text input.btn-submit,
div.signup-text input.input-signup {
    float: right;
    min-width: 300px;
    width: 45%;
    font-size: 0.85em;
    vertical-align: text-bottom;
}

.btn-submit-wide {
    min-width: 300px;
    width: 100%;
    /*margin: 5px auto;*/
    /*font-size: 0.85em;*/
    /*vertical-align: text-bottom;*/
    /*padding: 0;*/

    padding: 0;
    margin: 0;
    /*font-size: 1.6em;*/

    /*font-size: 1.6em;*/
    /*margin: 10px auto;*/
}

div#application-title {
    background-color: #3f4fcb;
    background-color: #3e60c8;
    background-color: #417cf4;
    background-color: #5e81e9;

    text-align: center;
    margin: 0 auto;
    padding: 10px;
    display: block;
    border-bottom: 2px solid #000000;
}

div#application-title h2 {
    margin: 0 auto;
    padding: 0;
    width: 850px;
    display: inline-block;
    text-align: left;
}

header {
    padding: 5px;
    margin: 0 auto;
    position: relative;    
    background-color: #3f4fcb;
    background-color: #417cf4;
    background-color: #3e60c8;    
    border: 0;
    border-bottom: 2px solid black;    
}
header div#header-container {
    width: 830px;
    height: 65px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #605193;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    border: 2px solid #453772;    
}

header div#header-container h1 {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.3);
    position: relative;
    top: -50%;
    top: 10%;
}

nav {
    min-height: 55px;
    display: block;
    border: 0;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

nav ul.navigation {
    width: 700px;
    max-width: 750px;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 5px;
    border: 2px solid #453772;
    background-color: #9e8ed5;  
    -webkit-border-radius: 1.75em;
    -moz-border-radius: 1.75em;
    border-radius: 1.75em;    

    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
}

nav ul li {
    width: 20%;
    display: inline-block;
    margin: 3px;
    padding: 3px;
    
    border: 2px solid #747171;

    -webkit-border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    border-radius: 0.9em;

    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    font-weight: bold;
    text-align: center;
    
    font-size: 1em;
    padding: 2px;
    color: #564b4b;
    font-color: #999999; 

    padding: 1px 0.75em;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;    
    
    background-color: #d3d3d3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(top, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

nav ul li:hover {
    color: #363030;
    
    cursor: pointer;
    
    border: 2px solid #363030;

    background-color: #bababa;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%, #575757));
    background-image: -webkit-linear-gradient(top, #bababa, #575757);
    background-image: -moz-linear-gradient(top, #bababa, #575757);
    background-image: -ms-linear-gradient(top, #bababa, #575757);
    background-image: -o-linear-gradient(top, #bababa, #575757);
    background-image: linear-gradient(top, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

nav ul li:after {
	/*content: " | ";*/
}
	
nav ul:last-child li:last-child:after {
    /*content: " ";*/
}

nav ul li a {
    color: #564b4b;
    font-color: #999999; 
    text-decoration: none;
}
nav ul li a:hover {
    color: #363030;
    font-weight: bold;
}

article {   
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;

    background-color: #ccc;    
    text-align: justify;

    min-width: 750px;
    width: 50%;
    padding: 0px;
    margin: 0 auto;
}

article div#main-content {
    margin: 15px;
    padding: 15px;
    background: transparent;
}




/***********************************************************************************************************************
Styles for the Posts pages, mainly the post "bubbles"
***********************************************************************************************************************/
.post-container {
    position: relative;
    width: 100%;
    background-color: transparent;
    padding-top: 1em;
}

.post-bubble {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-color: #ffffff;
    background-image: url("/views/images/quotes-left-01.png");
    background-repeat: no-repeat;
    background-position: 0.5em 1.25em;
    width: 100%;
}

.left {
    float: left;
}
.right {
    float: right;
}

.token-icon {
    padding: 3px;
}
.post-time {
    font-style: italic;
    font-weight: bold;
    padding: 1em;
    margin: 0;
    color: #808080;
    text-align: right;
}

p.post-text {
    margin: 0;
    padding: 1.5em 1.5em 1.5em 2.25em;
    font-weight: bold;
    text-align: left;
    background-color: transparent;
}

p.post-text:first-child {
    background-image: url("/views/images/quotes-right-01.png");
    background-repeat: no-repeat;
    background-position: 85% 90%;
}

.post-spike {
    background-color: transparent;
    height: 50px;
    width: 99%;
}

.post-spike-left {
    background-image: url("/views/images/speech-bubble-left.png");
    background-repeat: no-repeat;
    background-position: 30px -20px;
}
.post-spike-right {
    background-image: url("/views/images/speech-bubble-right.png");
    background-repeat: no-repeat;
    background-position: 95% -20px;
}

.follow-links {
    display: inline-block;
    background-color: transparent;
    float: right;
}

form.follow-form {
    margin: 0 auto;
    padding: 5px;
    background-color: transparent;
    width: 200px;
    height: 1.5em;
    margin-right: 5px;
}


footer {
    border: none;
    margin: 50px 5px 20px 5px;
    text-align: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
